FEDERATION_MODE=auto
FEDERATION_INSTANCES_JSON='[{"id":"hr","name":"HR KB","proxy_url":"http://localhost:8000/v1","weight":1.0,"access_groups":["admin"],"collections":["knowledge_base"],"is_primary":true}]'
FEDERATION_MERGE_STRATEGY=weighted_rrf
FEDERATION_MERGE_K=60
FEDERATION_RRF_K=60
FEDERATION_TOTAL_TIMEOUT_S=30
FEDERATION_PER_INSTANCE_TIMEOUT_S=10
FEDERATION_CIRCUIT_BREAKER_THRESHOLD=5
FEDERATION_CIRCUIT_BREAKER_RECOVERY_S=30
FEDERATION_LLM_ENDPOINT=http://localhost:8000/v1
FEDERATION_LLM_MODEL=llama-3
FEDERATION_AUTO_SLM_ENABLED=true
